<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 textoProyecto">
        <h1>Proyecto1</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam consequuntur et omnis. Ipsum, laudantium optio ipsa nobis nihil repellendus fugiat! Optio facere temporibus facilis voluptatem provident eveniet maiores, veritatis qui!</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 imagenProyecto">
        <img src="../../assets/img/UBA.png" class="img-fluid" alt="">
        </div>
    </div>
</div>
