<nav class="navbar navbar-expand-lg bg-secondary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../assets/img/Argentina_Programa_blanco-01.png" alt="Logo" width="20%" height="" class="d-inline-block align-text-top">
        </a>
    </div>
    <div>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item"> <a href="https://www.behance.net/matiasbastino" target="_blank"><i class="fa-brands fa-behance fa-1xl"></i></a></li>
            <li class="list-group-item"> <a href="https://www.linkedin.com/in/matiasbastino/" target="_blank"><i class="fa-brands fa-linkedin-in fa-1xl"></i></a></li>
            <li class="list-group-item"> <a href="https://github.com/matiasbastino" target="_blank"><i class="fa-brands fa-github fa-1xl"></i></a></li>
            <li class="list-group-item"> 
               <!-- Button trigger modal -->
                <i class="fa-solid fa-user fa-1xl" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">  
                </i>
            </li>
        </ul>
    </div>
            </nav>
         <app-login></app-login>