<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1>
                <h3>(años)</h3>
            </li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit magnam sequi accusantium explicabo temporibus necessitatibus dolore laudantium sunt numquam, ipsam illum ratione non nemo molestiae, fuga saepe deserunt veniam voluptate?</p>
            </ul>
            
            <ul>
                <li>
                    <h1>Trabajo 2</h1>
                    <h3>(años)</h3>
                </li>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit magnam sequi accusantium explicabo temporibus necessitatibus dolore laudantium sunt numquam, ipsam illum ratione non nemo molestiae, fuga saepe deserunt veniam voluptate?</p>
                </ul>

                <ul>
                    <li>
                        <h1>Trabajo 3</h1>
                        <h3>(años)</h3>
                    </li>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit magnam sequi accusantium explicabo temporibus necessitatibus dolore laudantium sunt numquam, ipsam illum ratione non nemo molestiae, fuga saepe deserunt veniam voluptate?</p>
                    </ul>
    </div>
</div>
