<div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <img src="../../assets/img/Foto 4x4.jpg" class= "img-fluid" id="fotoPerfil" alt="">
        <br>
        <p id="nombre"> Matias Bastino</p>
        <p id="titulo">Full Stack Devoloper junior</p>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
        <span>
            <h1>Acerca de mí</h1>
            <p>Soy Diseñador de Imagen y Sonido de la Universidad de Buenos Aires. 
                Trabajé durante los últimos diez años en tareas de producción, cámara y edición de piezas audiovisuales para Jefatura de Gabinete de Ministros y para el Instituto de la Espacialidad Humana de la Facultad de Arquitectura, Diseño y Urbanismo (UBA).
                Entre otras tareas, realicé la diagramación y maquetación de numerosas ediciones del libro “Memoria detallada del estado de la Nación” y la revista “Soberanía Sanitaria”. 
                Además, cuento con experiencia certificada en Paquete Adobe: Indesign, Illustrator y Photoshop, certificado por la Universidad Nacional de Lomas de Zamora. 
                Actualmente vivo en la Ciudad de Buenos Aires y me encuentro cursando Argentina Programa, para desarrollarme como programador web full-stack en busca de nuevos desafíos profesionales.</p>
        </span>
    </div>
</div>
